.pagina {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.cab {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cuerpo {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 2rem;
}

.pie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}